<form [formGroup]="form">
    <div formGroupName="account">
        <div class="form-group">
            <label for="username">Username</label>
            <input formControlName="username" id="username" type="text" class="form-control">
            <!-- <div *ngIf="username.pending">checking for uniqness...</div> -->
            <div class="alert alert-danger" *ngIf="prop.username.touched && !prop.username.invalid">
                <div *ngIf="prop.username.required">First name is required</div>
                <div *ngIf="prop.username.minlength">First name should be minimum of {{prop.username.minlength}} characters</div>
            </div>
            
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input formControlName="password" id="password" type="text" class="form-control">
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Sign Up</button>
</form>