
  <app-navbar></app-navbar>
  <div class="container-fluid main">

  <!-- <app-like 
    [likesCount] = "tweet.likesCount" 
    [isLiked]= "tweet.isLiked">
  </app-like> -->

  <!-- <app-my-panel>
    <ng-container class="heading">Card Heading</ng-container>
    <ng-container class="body">
      card body with extra html 😁😁😁😁
    </ng-container>
  </app-my-panel> -->

  <!-- <app-contact-form></app-contact-form> -->
  <!-- <signup-form></signup-form> -->
  <!-- <app-post></app-post> -->


  <router-outlet></router-outlet>



</div>